<div class="center">
	<div class="container">
		<h1>Hello, I'm Jelani.</h1>
		<p><small>I am a 19 year old college student <i>hoping</i> to change the world.</p></small>
		<p><small>Please follow my journey on <a href="http://twitter.com/dopekidjay">twitter</a> until my website is fully complete. :)</p></small>
		</div>
	</div>
